{% extends 'base.html' %}
{% block content %}
    <h2>Lista de Turmas</h2>
    <a href="{% url 'incluirturma' %}" class="btn btn-primary">Cadastrar nova turma</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>curso</th>
                <th>Data Inicio</th>
                <th>Data termino</th>
                <th>Horario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for t in turmas %}
            <tr>
                <td>{{ t.curso }}</td>
                <td>{{ t.dataInicio | date:"d/m/Y" }}</td>
                <td>{{ t.dataTermino | date:"d/m/Y" }}</td>
                <td>{{t.dataInicio | date:"H:i"}} ás {{t.dataTermino | date:"H:i"}}</td>
                <td>
                    <a href= "{% url 'alterarturma' t.id %}" class= "btn btn-secondary"> Alterar </a>
                    <a href= "{% url 'excluirturma' t.id %}" class= "btn btn-danger">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
    